.github
.git
*.md
.vscode
.gitignore
.env
.env.*
!.env.example
Makefile
makefile
docs
.eslintcache
.gocache
.gomodcache
.gopath
.cache
data
logs
build
/web/node_modules
/web/default/node_modules
/web/default/dist
/web/classic/node_modules
/web/classic/dist
/electron/node_modules
/electron/dist
!THIRD-PARTY-LICENSES.md
